.search{
    width: 920px;
    height: 40px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    transition: .2s;
    font-size: 13px;
  }
  .search-input{
    border-radius: 5px;
    height: 32px;
    margin-left: 10px;
    padding-left: 10px;
    width: 770px;
    background-color: #f9f9f9;
    margin-right: 20px;
    font-size: 16px;
  }
  .search-item{
    transition: .5s;
    width: 32px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
  }
  
  .search-img{
    margin-left: 10px;
    opacity: .2;
    transition-duration: .5s;
  }
  
  .text-item{
    margin-left: 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .8;
    display: block;
    width: 350px;
    font-size: 16px;
  }
  .search-item__item{
    width: 380px;
  }
  .search-item_date:focus .search-item{
    opacity: .8;
  }
  .search-item>.search-item_date{
    opacity: .8;
    display: block;
  }

  .search-item:hover .search-img{
    opacity: .8;
  }
  .search-item-i:hover{
    width: 200px;
  }
  .search-item_date{
    text-align: center;
    width: 100px;
    height: 30px;
    margin: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 14px;
  }
  .search-item_date:focus{
    background-color: #eee
  }
  .btn-date{
    transition-duration: .3s;
  }
  .btn-date:active{
    background-color: #f9f9f9;
  }