.students-list{
  width: 400px;
  height: 700px;
  background-color: #fff;
  border-radius: 5px;
}
.all-students{
  margin-top: 10px;
  width: 390px;
  margin-left:5px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 640px;
}
.title{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: #d1d1d1
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 4px;
}