.card{
  width: 340px;
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
.card:hover{
  color: rgba(0,0,0, .8)
}
.card:active{
  height: 40px;
  color: rgba(0, 0, 0, 1);
  font-weight: normal;
}
.card > p{
  width: 290px;
  height: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub-card{
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.card-img{
  margin-right: 10px;
  opacity: .4
}

.card:hover .card-img{
  opacity: .8;
}

.card:active .card-img{
  opacity: 1;
}
