.view{
  width: 1000px;
  height: 700px;
  border-radius: 5px;
}
.view-content{
  margin-top: 10px;
  width: 920px;
  height: 550px;
  border-radius: 5px;
  margin-left: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
